NEXT_PUBLIC_SUPABASE_URL=https://axcrubvtpqcyscizgoee.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nXvc3DSk2D7QBwF8fFervA_90zNdTHt
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF4Y3J1YnZ0cHFjeXNjaXpnb2VlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjg0NDcyMCwiZXhwIjoyMDg4NDIwNzIwfQ.k45Ns7J2q9sVzqIjeYnT7z_DfV6ai_ArV45Pdsz4owc
# Solo para Server Actions que requieran bypass de RLS (opcional)
# SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY